body {
	background: #E7ECEF;
	color: #272932;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

.main {
	.title {
		margin-top: 25px;
		font-size: 35px;
	}
	.twitterLink {
		margin-top: -12px;
		margin-bottom: 20px;
		font-size: 16px;
		a, a:visited {
			color: #122369;
		}
		a:hover {
			color: #FF4A81;
		}
	}
	.search {
		font-size: 22px;
		width: 280px;
		padding: 6px;
	}
	.searchBtn {
		font-size: 24px;
		padding: 5px 15px;
		margin-top: 15px;
		border: none;
		background: #11B5E4;
	}
	.searchBtn:hover {
		cursor: pointer;
		background: #F9C22E;
	}
	.loadingMsg {
		font-size: 20px;
		color: #FF5F3D;
	}
}

.stocksWrapper {
	width: 95vw;
	margin: -15px auto 35px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	.stockContainer {
		font-size: 34px;
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 350px;
		height: 65px;
		margin: 15px;
		border: 1px solid #1D1E2C;
		border-radius: 1px;
		background: rgba(150,150,150,0.55);
		span {
			margin-right: 25px;
		}
	}
	.stockContainer:hover {
		background: #F74961;
		cursor: pointer;
	}
}
.chartWrapper {
	max-width: 750px;
	margin: 25px auto;
	.chart {
		border: 1px solid #1D1E2C;
		border-radius: 3px;
	}
}

@media screen and (max-width: 600px) {
	.main {
		.title {
			margin-top: 20px;
			font-size: 28px;
		}
		.currentStocksTitle {
			font-size: 22px;
			margin-bottom: 35px;
		}	
	}

	.stocksWrapper {
		width: 95vw;
		margin: -15px auto 35px auto;
		.stockContainer {
			font-size: 28px;
			width: 285px;
			height: 55px;
			margin: 10px;
			span {
				margin-right: 20px;
			}
		}
	}
}