body {
	background: white;
	color: blue;
	text-align: center;
}

.stockContainer {
	width: 200px;
	height: 125px;
	margin: auto;
	border: 1px solid white;
	background: rgb(150,150,150,0.55);
	font-size: 30px;
}

.fa {
	margin: 5px;
}